*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
:root {
    --main-color: #00b7ff;
    --second-color: #0044ff;
    --text-color: #000000;
    --gradient: linear-gradient(#00b7ff,#0044ff);
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--main-color);
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 5px 100px;
}
header .header-container ul li a{
    text-decoration: none;
}
header .header-btn a{
    text-decoration: none;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo img {
    width: 40px;
}
.navbar {
    display: flex;
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.navbar li {
    position: relative;
}
.navbar a{
    display: inline-block;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
    position: relative;
    text-decoration: none; 
}
.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after {
    width: 100%;
} 
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 10px;
    color: var(--text-color);
    font-weight: 500 ;
    display: inline;
}
.header-btn .sign-up{
    background: var(--second-color);
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-up:hover{
    background: var(--main-color);   
}
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr); 
}
.text h1{
    font-size: 4rem;
    letter-spacing: 2px;
}
.text span{
    color: var(--main-color);
}
.text p{
    margin: 0.5rem 0 1rem;
    font-size: 1rem;
} 
.app-stores{
    display: flex;
}
.app-stores img{
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
}
body{
    background: #e4e9f7;
}
@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}
.owl-carousel {
    left: 50px;
}
.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--main-color);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--second-color);
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}
.form-container {
    position: absolute;
    bottom: 5rem;
    right: 18rem; /* Adjust the right distance from the right edge of the page */
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    flex: 1 1 7rem;
    display: inline-flex;
    flex-direction: column;
}
.input-box span{
    font-weight: 500;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;   
}
.form-container form .btn{
    
    padding: 10px 34px;
    
    border: none;
    border-radius: 0.5rem;
    background: var(--second-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.form-container form .btn:hover{
    background: var(--main-color);
}
.heading{
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.heading h1{
    font-size: 2rem;
    text-align: center;
}

.house-container{
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
    background-color: #6382d8;
    display: inline-flex;
    margin-left: 45px;
}
.house-container .box{
    text-align: center;
    padding: 20px;
    width: 350px;
    height: 250px;
    margin-left: 10px;
    
}
.house-container .box .bx{
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--second-color);
}
.house-container .box h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.house-container .box:hover, .house-container .bx .bxs-calendar-star{
    background: #00b7ff;
    color: #fff;
    border-radius: 2rem;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img{
    width: 100%;
    height: 200px;
}
.services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;

}
.services-container .box p{
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.services-container .box h3{
    font-weight: 500;
}
.services-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--second-color);
    margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.services-container .box .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn:hover{
    background: var(--main-color);
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about-image img{
    width: 100%;
}
.about-text span{
    font-weight: 500;
    color: var(--second-color);
    text-transform: uppercase;
}
.about-text p{
    margin: 0.5rem 0 1.4rem;
}
.about-text .btn{
    padding: 10px 20px;
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
}
.about-text .btn:hover{
    background: var(--main-color);
}
.reviews-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}
.reviews-container .box{
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.reviews-container .box .rev-img {
    width: 100%;
    height: 200px;
}
.reviews-container .box .rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.reviews-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p{
    font-style: italic;
}
.reviews-container .box .stars .bx{
    color: var(--main-color);
}
.copyright{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    color: #444;
    padding: 10px;
    font-size: 21px;
}

@media (max-width: 991px){
    header{
        padding: 18px 40px;
    }
    section{
        padding: 50px 40px;
    }
}